*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#section{
    width: 99.35vw;
    height: 100vh;
    max-width: 99.35vw;
    position: relative;
    overflow: hidden;
}
#PageWrapper{
    width: 99.35vw;
    height: 100vh;
    max-width: 99.35vw;
    transform: translate3d(0px, 0%, 0px);
    transition: all 0.8s ease-in-out;
}
#Page-1{
    width: 100%;
    height: 100%;
    background-color: #2ab7ca;
}
#Page-2{
    width: 100%;
    height: 100%;
    background-color: #fe4a49;
}
#Page-3{
    width: 99.35vw;
    height: 100vh;
    position: relative;
}
#P-3-ChildWrapper{
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 100%;
    position: absolute;
    transition: all 0.8s ease-in-out;
}
#P-3-1{
    width: 100%;
    height: 100%;
    background-color: #06d6a0;
}
#P-3-2{
    width: 100%;
    height: 100%;
    background-color: #f77f00;
}
#P-3-3{
    width: 100%;
    height: 100%;
    background-color: #fe4a49;
}
#P-3-4{
    width: 100%;
    height: 100%;
    background-color: #fe9c8f;
}
#Page-4{
    width: 100%;
    height: 100%;
    background-color: #283655;
}
#Page-5{
    width: 100%;
    height: 100%;
    background-color: #fec401;
}
#Page-6{
    width: 100%;
    height: 100%;
    background-color: #69585f;
}

#VerticalArrow{
    position: fixed;
    left: 80%;
    top: 25%;
    z-index: 1;
}
#HorizontalArrow{
    position: absolute; 
    top: 25%;
    left: 15%;
    z-index: 1;
}
.arrow{
    width: 5rem;
    height: 5rem;
    background-color: #BBB;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;
}
.bar{
    position: absolute;
    width: 2.6rem;
    height: 5px;
    background-color: #171010;
}
.bar-U-1{
    top: 35px;
    left: 7px;
    transform: rotateZ(-45deg)
}
.bar-U-2{
    top: 35px;
    left: 33.2px;
    transform: rotateZ(45deg)
}
.bar-D-1{
    top: 40px;
    left: 7px;
    transform: rotateZ(-135deg)
}
.bar-D-2{
    top: 40px;
    left: 33.2px;
    transform: rotateZ(-45deg)
}
.bar-R-1{
    top: 25px;
    left: 20px;
    transform: rotateZ(45deg)
}
.bar-R-2{
    top: 51px;
    left: 20px;
    transform: rotateZ(-45deg)
}
.bar-L-1{
    top: 25px;
    left: 20px;
    transform: rotateZ(-45deg)
}
.bar-L-2{
    top: 51px;
    left: 20px;
    transform: rotateZ(45deg)
}